@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --font-family:'Nunito', sans-serif;
    --background-color-primary:#061621;
    --background-color-secondary:#001e2b;
    
    --green-pop:#00ed64;
    --green-mid:#13aa52;
    --green-dark:#00684a;

    --white-text:#f5f6f7;
    --dark-text:#1d1c1c;
    --grey-text:#b8c4c2;

    text-decoration: none;
    color: inherit;

    --font-size-lg:2.5rem;
    --font-size-md:1.8rem;
    --font-size-sm:1.2rem;
}
:root{
    font-family: var(--font-family);
}

.filter-wrapper{
    position: sticky;
    max-height:100vh;
    min-width: 20%;
    max-width: 20%;
    background-color: var(--background-color-secondary);
    color: var(--white-text);
    overflow-x: hidden;
    font-size: var(--font-size-sm);
    border-right: 3px solid var(--green-pop);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr ;
    min-height: 100vh;
}
p{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;

}



/* reset button */
.filter-container .reset-filters{
    margin: 1rem;
    text-decoration: underline;
    color: var(--green-mid);
}
.filter-container .reset-filters:hover{
    color: var(--green-pop);
    cursor: pointer;

}


.filter-container {
    left: 0;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

/* range- filter */
.filter-container .range-filter{
    padding: 1rem 0;
    text-align: left;
}
.filter-container .range-filter label{
    margin-right: 10px;
}


/* category-filter */
.category-filter .input-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.category-filter .label-div{
    display: flex;
    flex-direction: column;
}
.category-filter .checkbox-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* ratings filter */
.ratings-filter label{
    margin-right: 15px;
}


/* sort-filter */
.sort-filter label{
    margin-right: 15px;
}