.main-div {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
}

.main-div .filter-div .sticky {
  grid-column: 1;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
}

.main-div .products-div {
  margin: 1rem;
  grid-column: 2;
  display: flex;
  flex-wrap: wrap; /* Add this property */
  justify-content: center;
  margin: 1rem;
}
